.modal {
  border: 1px solid #000000;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  overflow: hidden;
}

.content {
  margin: 36px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
}

.select_auth {
  display: inline-block;
  overflow: hidden;
}

.select_auth,
.btn_signUp {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.btn_guest,
.btn_signIn {
  background-color: #E7E7E7;
  color: #c0c0c0;
}

.btn_signUp,
.btn_guest:hover,
.btn_signIn:hover,
.active {
  background-color: #8C69F1;
  color: #FFFFFF;
}

.btn_footer{
  color: #8C69F1;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E7E7;
}

.btn_footer {
  font-size: 20px;
  padding: 20px;
}