.chats{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.column_1 {
  flex: 25%;
  background-color: #F0F0F0;
}
.column_2 {
  flex: 75%;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}