
.add_chat{
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 128px;
  height: 128px;
  background-color: #00342A;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
}
