.search{
  width: 100%;
  max-width: 450px;
  height: 40px;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #E7E7E7;
  padding: 0px 35px;
}

.search:focus {
  outline: none;
  border: 1px solid #8C69F1;
}

.search_by_contact{
  margin: 16px 0;
  position: relative;
}

.search_icon {
  width: 35px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}