.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 48px;
  font-weight: 600;
  color: $colorPurple;
  letter-spacing: 1.92px;
  margin-block-end:  8px;
}

.subtitle{
  font-size: 24px;
}