.list{
  & > li{
    display: flex;
    align-items: center;
    button{
      width: 100%;
      display: flex;
    }
    button > span{
      margin-inline-start: 16px;
    }
  }
}

.langItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.langContainer{
  display: flex;
  align-items: center;
  & > span{
    margin-inline-start: 16px;
  }
}

.lang{
  font-size: 16px;
  color: $colorPurple;
}