.contact{
  margin-bottom: 6px;
  display: flex;
}

.contact_photo{
  min-width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.contact_info{
  margin-left: 16px;
  height: 62px;
}

.contact_name{
  font-size: 20px;
  font-weight: 900;
}

.contact_message{
  height: 35px;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}