.form{
  width: 100%;
  font-size: 20px;
  margin-block-end: 16px;
  // position: relative;
}

.label{
  display: flex;
  justify-content: space-between;
  margin-block-end: 16px;
}

.error{
  color: red;
}

.input{
  width: 100%;
  font-size: 20px;
  background-color: $colorGray2;
  padding: 16px;
  border-radius: $borderRadius;
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  -ms-border-radius: $borderRadius;
  -o-border-radius: $borderRadius;
}

.row{
  position: relative;
}

.eye{
  background-color: transparent;
  position: absolute;
  right: 16px;
  top: 31%;
}