.check{
  position: relative;
  margin-block-end: 36px;
}

.check_input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check_box {
  position: absolute;
  right: 0;
  top: -8px;
  width: 40px;
  height: 40px;
  border: 2px solid $colorPurple;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.check_input:checked+.check_box {
  background-color: $colorPurple;
  background-image: url('../../../assets/img/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}