@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&family=Work+Sans:wght@500&display=swap');

$fontSize: 16px;
$fontWeight: 400;
$fontFamily: 'Roboto', sans-serif;
$fontFamily2: 'Work Sans', sans-serif;

$borderRadius: 25px;

$colorPurple: #8C69F1;
$colorWhite: #fff;
$colorWhite1: #F0F4FA;
$colorGray: #737373;
$colorGray2: #E7E7E7;
$colorBlack: #242628;